{{#if settings.enabled}}
  <ul class="nav navbar-nav navbar-right">
    <li>
      {{#if settings.showPanel}}
        <a title="Hide output panel." {{action 'togglePreviewVisible'}}> 
          {{fa-icon "toggle-on" size="lg" rotate=180}}
          <span class="visible-xs-inline">Toggle Panel View</span>
        </a>
      {{else}}
        <a title="Show output panel." {{action 'togglePreviewVisible'}}> 
          {{fa-icon "toggle-off" size="lg" rotate=180}}
          <span class="visible-xs-inline">Toggle Panel View</span>
        </a>
      {{/if}}
    </li>
  </ul>
{{/if}}
{{yield}}
