{{#if isShowingConfirmation}}
  {{text}}&nbsp;&nbsp;
  <a class="btn btn-danger {{btnSize}}" {{action "confirm"}}>
    Yes!
  </a>

  <a class="btn btn-default {{btnSize}}" {{action "showConfirmation"}}>
    No. 
  </a>
{{else}}
  <button {{action "showConfirmation"}} class="btn btn-danger {{btnSize}}">
    {{fa-icon "fa-trash-o"}}
    Delete
  </button>
{{/if}}

{{yield}}
