{{#preview-panel class="preview-panel preview-panel-fixed-right col-xs-12 col-sm-7 col-md-6 col-lg-5" showPanel=model.settings.showPanel showOutput=model.settings.showOutput selectOutput='selectOutput' selectPreview='selectPreview'}}
  {{#if model.settings.showOutput}}
    <p>[CENTER]■[/CENTER]</p>
    <p>
      [b]Welcome to the Parahumans Online message boards.[/b] <br/>
      You are currently logged in, [u]{{if model.user model.user.name "Placeholder_User"}}[/u] <br/>
      You are viewing: <br/>
      •  Threads you have replied to <br/>
      •  AND Threads that have new replies <br/>
      •  OR private message conversations with new replies <br/>
      •  Thread OP is displayed. <br/>
      •  {{num-to-word model.postsPerPage}} posts per page <br/>
      •  Last ten messages in private message history. <br/>
      •  Threads and private messages are ordered chronologically. <br/>
    </p>
    <p>[CENTER]■[/CENTER]</p>
  {{else}}
    <p style="text-align: center">■</p>
    <p>
      <b>Welcome to the Parahumans Online message boards.</b> <br/>
      You are currently logged in, <u>{{if model.user model.user.name "Placeholder_User"}}</u> <br/>
      You are viewing: <br/>
      •  Threads you have replied to <br/>
      •  AND Threads that have new replies <br/>
      •  OR private message conversations with new replies <br/>
      •  Thread OP is displayed. <br/>
      •  {{num-to-word model.postsPerPage}} posts per page <br/>
      •  Last ten messages in private message history. <br/>
      •  Threads and private messages are ordered chronologically. <br/>
    </p>
    <p style="text-align: center">■</p>
  {{/if}}
{{/preview-panel}}

<div class="container container-left">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right" style="padding-top: inherit;">
            {{confirm-delete-button btnSize="" text="Delete this interlude?" action="deleteDoc" param=model.id}}
          </div>
          <h3>{{edit-interlude-title title=model.title action="renameDoc" param=model.id}}</h3>
        </div>
        <div class="panel-body">
          {{! Picking logged-in user perspective}}
          <label for="interlude-perspective-user">Interlude User</label>
          {{#interlude-user-picker 
            givenUser= model.user
            availableUsers=model.allUsers
            selectUser="setUserPerspective"
            createUser="createUser"
            param=model.id}}
            
          {{/interlude-user-picker}}

          {{#if model.user}}
            {{! this is the added results box}}
            {{interlude-tags-display
              user=model.user
              removeTagFromUser="removeTagFromUser"}}

            {{interlude-tags-picker 
              availableTags=model.allTags
              givenTags=model.user.tags
              selectTag="addTagToUser"
              createTag="createTag"
              param=model.user.id}}
          {{/if}}
        </div>

        <ul class="list-group">
            {{! shows the tags available to this specific user}}


          <li class="list-group-item">
            {{! Picking the number of posts displayed per group.}}
            <label for="interlude-posts-per-page">Posts per Page</label>
            {{#select-post-per-page 
              selections=model.settings.postsPerPageSelections
              selected=model.postsPerPage
              action="changePostsPerPage"
              param=model.id}}

            {{/select-post-per-page }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{#each model.threads as |thread|}}
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right" style="padding-top: 5px;">
              {{confirm-delete-button 
                btnSize="btn-sm"
                text="Delete this thread?"
                action="deleteThread"
                param=thread.id}}
            </div>
            <h4>{{edit-interlude-title title=thread.name action="renameThread" param=thread.id}}</h4>
          </div>
          
          <div class="panel-body">
             
            <label>Original Poster</label>

            {{#interlude-user-picker 
              givenUser= thread.firstPost.user
              availableUsers=model.allUsers
              selectUser="setPostUser"
              createUser="createPostUser"
              param=thread.firstPost}}
                
            {{/interlude-user-picker}}

            {{#if thread.firstPost.user}}
              {{! this is the added results box}}
              {{interlude-tags-display
                user=thread.firstPost.user
                removeTagFromUser="removeTagFromUser"}}

              {{interlude-tags-picker 
                availableTags=model.allTags
                givenTags=thread.firstPost.user.tags
                selectTag="addTagToUser"
                createTag="createTag"
                param=thread.firstPost.user.id}}
            {{/if}}
          </div>
          
          {{#sortable-group tagName="ul" class="list-group" onChange="reorderItems" source=thread as |group|}}
            {{#each thread.restPosts as |post|}}
              {{#sortable-item tagName="li" class="list-group-item" model=post group=group handle=".handle"}}
                {{#if post.isHead}} 
                  <label>Original Poster</label>
                {{else}}
                  <div class="pull-right">
                    {{confirm-delete-button 
                      btnSize="btn-xs"
                      text="Delete this post?"
                      action="deletePost"
                      param=post}}
                  </div>

                  <label class="handle">
                    {{fa-icon "sort" fixedWidth=true border=true}} Responding User
                  </label>
                  <hr class="thin">
                {{/if}}

                {{#interlude-user-picker 
                  givenUser= post.user
                  availableUsers=model.allUsers
                  selectUser="setPostUser"
                  createUser="createPostUser"
                  param=post}}
                    
                {{/interlude-user-picker}}

                {{#if post.user}}
                  {{! this is the added results box}}
                  {{interlude-tags-display
                    user=post.user
                    removeTagFromUser="removeTagFromUser"}}

                  {{interlude-tags-picker 
                    availableTags=model.allTags
                    givenTags=post.user.tags
                    selectTag="addTagToUser"
                    createTag="createTag"
                    param=post.user.id}}
                {{/if}}

                <hr class="thin">
              {{/sortable-item}}
            {{/each}}
          {{/sortable-group}}
          <li class="list-group-item">
            <button class="btn btn-primary btn-xs" {{action "createPost" thread}}>
              {{fa-icon "plus-square"}} Add New Post
            </button>
          </li> 
        </div>
      </div>
    </div>
  {{/each}}
  <button class="btn btn-primary" {{action "createThread" model}}>
    {{fa-icon "plus-square"}} Add New Thread
  </button>
</div>

{{outlet}}